p {
    color: #9F9F9F;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    width: 60%;
}

.quizdiv {
    width: 100%;
}

.quizname {
    box-sizing: border-box;
    padding: 0 1rem;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 100%;
    font-size: 1rem;
    outline: none;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.quizname::placeholder {
    color: #9F9F9F;
    font-size: 1rem;
    letter-spacing: 1px;
}

.quiztype {
    display: flex;
    margin: 1rem 0;
    justify-content: space-between;
    padding: 0 1rem;
}

.actionbtn {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 1rem;
    text-align: center;
}