label {
  font-weight: bold;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  background-color: #fff;
  height: 60%;
  width: 50%;
  padding: 1rem;
  box-sizing: border-box;
  border: none;
  border-radius: 1rem;
  position: relative;
}

.slidemain {
  height: 60px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.slideText {
  color: #000;
  font-size: 1rem;
  font-weight: bold;
}

.slideSelected {
  height: 60px;
  width: 80px;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  border: 2px solid #73abff;
  cursor: pointer;
}

.crossIcon {
  color: #ff0000;
  position: absolute;
  top: -5px;
  right: -5px;
  cursor: pointer;
}

.form {
  width: 60%;
  height: inherit;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  margin: 1rem 0;
  box-sizing: border-box;
  padding: 1rem 0;
}

.btndiv {
  display: flex;
  gap: 1rem;
}

.inputdiv {
  display: inline-block;
  height: 30px;
  width: 60%;
  border: 2px solid #000;
}

.input {
  width: 100%;
  height: inherit;
  border: none;
  outline: none;
  font-size: 0.8rem;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  background-color: transparent;
  font-family: "DM Sans", sans-serif;
}

.textareadiv {
    width: 60%;
    border: 2px solid #000;
}

.field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
}

.warning {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #ff0000;
  text-align: end;
}

.buttonsdiv {
  display: flex;
  justify-content: space-between;
}

.postbtn {
    display: none;
}

@media only screen and (max-width: 480px) {
  .warning {
    display: none;
  }

  .buttonsdiv {
    display: none;
  }

  .main {
    height: 60%;
    width: 90%;
    display: flex;
    gap: 1rem;
    position: relative;
  }

  .btndiv {
    flex-direction: column;
    margin-top: 1rem;
  }

  .slidemain {
    height: 40px;
    width: 60px;
  }
  
  .slideText {
    font-size: 0.8rem;
  }
  
  .slideSelected {
    height: 40px;
    width: 60px;
  }

  .inputdiv {
    height: 30px;
    width: 100%;
  }

  .field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }

  .postbtn {
    display: block;
    position: absolute;
    bottom: 1rem;
    right: 50%;
    transform: translate(50%);
  }

  .textareadiv {
    width: 100%;
    border: 2px solid #000;
}
}
