.questiondiv {
    display: flex;
    align-items: center;
    margin: 1rem 50px;
    justify-content: space-between;
}

.questionmarkers {
    display: flex;
    gap: 10px;
    align-items: center;
}

.questionTab {
    height: 50px !important;
    border-radius: 25px !important;
    width: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectedquestionTab {
    height: 50px !important;
    border-radius: 25px !important;
    width: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #60B84B;
}

.addbtn {
    cursor: pointer;
}

.questionmarker {
    position: relative;
    cursor: pointer;
}

.crossquestion {
    position: absolute;
    top: -2px;
    right: 0;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
}

.questionip {
    padding: 0 1rem;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: calc(100% - 100px);
    font-size: 1rem;
    outline: none;
    margin-top: 2rem;
    margin-left: 50px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.questionip::placeholder {
    color: #9F9F9F;
    font-size: 1rem;
    letter-spacing: 1px;
}

.radiolabel {
    color: #9F9F9F;
}

.radiogrpdiv {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1rem;
    margin-top: 1rem;
    margin-left: 50px;
}

.radiogrp {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
}

.textinput {
    box-sizing: border-box;
    padding: 0 1rem;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 100%;
    font-size: 1rem;
    outline: none;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.textinput::placeholder {
    color: #9F9F9F;
    font-size: 1rem;
    letter-spacing: 1px;
}

.selectedtextinput {
    box-sizing: border-box;
    padding: 0 1rem;
    background-color: #60B84B;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 100%;
    font-size: 1rem;
    outline: none;
    color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.selectedtextinput::placeholder {
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
}

.optionsdiv {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}

.optioncontainer {
    display: flex;
    gap: 1rem;
}

.timercontainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    margin-right: 2rem;
    justify-content: flex-end;
}

.actionbtn {
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem 1rem 50px;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    text-align: center;
}