span {
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #ededed;
  box-sizing: border-box;
  padding: 3rem 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.display {
  display: flex;
  gap: 1rem;
  background-color: transparent;
}

.displaycard {
  height: 130px;
  display: flex;
  align-items: center;
  flex: 1;
  box-sizing: border-box;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.count {
  font-size: 3rem;
  font-weight: bold;
}

.quizcreated {
  color: #ff5d01;
  font-size: 2rem;
  font-weight: 500;
}

.questioncreated {
  color: #60b84b;
  font-size: 1.8rem;
  font-weight: 500;
}

.totalimpression {
  color: #5076ff;
  font-size: 1.8rem;
  font-weight: 500;
}

.eyeicon {
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.trendingcard {
  width: 230px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 10px;
}

.trendingquiztitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  white-space: nowrap;
}

.trendingquizupper {
  color: #ff5d01;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-weight: 500;
  gap: 5px;
}

.trendingquizlower {
  color: #60b84b;
  font-size: 10px;
  display: flex;
  font-weight: bold;
  align-items: center;
}

.trendingtitle {
  color: #474444;
}

.quizcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  overflow-y: auto;
  height: 250px;
  align-items: start;
}

.trendingcontainer {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.trendingloader {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.skloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  width: 100%;
}

.nodata {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
