h2 {
  margin: 0;
  text-align: start;
}

.container {
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
}

.headerbtn {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.headerbtn div {
  display: flex;
}

.menuopen {
  display: none;
  margin-left: auto;
  cursor: pointer;
}

.headerbtn2 {
  display: none;
}

.logoutmenu {
  position: absolute;
  flex-direction: column;
  background-color: #fff;
  top: 5rem;
  right: 5px;
  box-sizing: border-box;
  padding: 1rem;
}

.logoutmenu p {
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  .headerbtn {
    display: none;
  }

  .menuopen {
    display: block;
  }

  .headerbtn2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .containerexpanded {
    display: "flex";
    /* height: 50vh; */
    align-items: flex-start;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  }

  .smloginMenu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0;
  }

  .smauthbtn {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}
