.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalcontent {
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    width: 60%;
}

.title {
    color: #5076FF;
    font-size: 3rem;
    font-weight: bold;
}

.tablediv {
    width: 80%;
    max-height: 70%;
    overflow-y: auto;
}

.quiztable {
    width: 100%;
}

.quiztable thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.quiztable th,
.quiztable td {
    padding: 8px;
    text-align: center;
}

.quiztable th {
    background-color: #5076FF;
    color: white;
}

thead th:first-child {
    border-radius: 10px 0 0 10px;
}

thead th:last-child {
    border-radius: 0 10px 10px 0;
}

tbody td:first-child {
    border-radius: 10px 0 0 10px;
}

tbody td:last-child {
    border-radius: 0 10px 10px 0;
}

.stripedrow {
    background-color: #B3C4FF;
}

.action {
    display: flex;
    gap: 5px;
}

.actionbtn {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.actionControlbtn {
    display: flex;
    justify-content: space-between;
    margin: 3rem 2rem 1rem 50px;
}

.deleteText {
    font-size: 1.8rem;
    color: #474444;
    font-weight: bold;
    text-align: center;
}

.nodata {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}